<%- include("partials/header.ejs") %>
<div class="container">
    
<form method="post"><h1>Create a blog</h1><br>
    <input type="text" name="Title" placeholder="Title"><br>
    <textarea name="Blog" placeholder="Content"></textarea><br>
    <input type="submit" class="subtn" value="SUBMIT" />
</form></div>
<%- include("partials/footer.ejs") %>